* {
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS";
  text-decoration-color: #FFFFFF;
  padding: 10px;
  background: #3d3d3d;
  color: #FFFFFF;
}

/* Header/Blog Title */
.header {
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
}

.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #4077b3;

}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Real image */
img {
  width: 100%;
  height: auto;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

/* Individual sections */
.article {
    width: 1000px;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    overflow: hidden;
}

/* centering for an image */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.gallery {
    padding: 0 20px;
    float: left;
    width: 24.99%;
    margin: 20px 0;
    display: none;
}

.show {
  display: block;
}

.bucket {
    border: 2px solid #FFF;
    background-color: white;
}

.bucket:hover {
    border: 2px solid #000;
}

.bucket img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 30px;
    text-align: center;
	fot-size: 18px;
}

/* Add a card effect for articles */
.card {
  padding: 20px;
  margin-top: 20px;
  overflow:hidden;
}

a.normal_link{
    color:black;
    text-decoration:none;
}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .article{
      width:100%;
  }
  .gallery{
      width:33.32%;
  }
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
    .gallery{
      width:100%;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }

}


